{{ define "base.html" }}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user- scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>Моделирование</title>
  </head>
  <body>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-5">
          {{ template "left".}}
        </div>
        <div class="col-lg-5">
          {{ template "right" .}}
        </div>
      </div>
    </div>
  </body>
</html>
{{end}}
