{{define "left"}}
  <form action="indexform" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1" id="text_label">Введите количество узлов</label>
      <input type="text" name="number_node" class="form-control" id="number_node" value="
      {{- if .nodeCount }} {{- .nodeCount }} {{- end }}" placeholder="Количество узлов" required>
    </div>
    <button type="submit" class="btn btn-primary" name="OK">Подтвердить</button>
  </form>
{{end}}

{{define "right"}}
{{end}}