{{define "left"}}
    <div class="alert alert-success">
        <strong>Инструкция:</strong><br>
        1) Введите имена узлов требующие соединения<br>
        2) Введите задержку в канале<br>
        3) Нажмите кнопку "Подтвердить";<br>
        4) Если грань не обновилась нажмите F5;
    </div>
    <form action="add_path" method="post">
        <div class="form-group">
            <label for="from">Укажите исходный узел</label>
            <input type="text" class="form-control" name="from" placeholder="Например: name0">
        </div>
        <div class="form-group">
            <label for="to">Укажите конечный узел</label>
            <input type="text" class="form-control" name="to" placeholder="Например: name1">
        </div>
        <div class="form-group">
            <label for="delay">Задержка от (A до B)</label>
            <input type="text" class="form-control" name="delay" placeholder="Например: 1">
        </div>
        <button type="submit" class="btn btn-danger" name="add_path">Подтвердить</button>
    </form>
    <div class="alert alert-warning">
        <strong>Внимание!</strong><br>
        Если требуется полностью обновить данные нажмите желтую кнопку!
    </div>
    <form action="erase" method="post">
        <button type="submit" class="btn btn-primary" name="erase">Очистить файл</button>
    </form>
{{end}}

{{define "right"}}
    <canvas id="canvas" width="800" height="500"></canvas>
        {{- if .result}}
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th scope="col">Узел источник</th>
                <th scope="col">Узел обработчик</th>
                <th scope="col">Путь кода прерывания</th>
                <th scope="col">Задержка</th>
                <th scope="col">Максимальная задержка между двумя узлами</th>
                <th scope="col">Диаметр сети (путь)</th>
                <th scope="col">Диаметр сети</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>{{.result.from}}</th>
                <td>{{.result.to}}</td>
                <td>{{.result.path}}</td>
                <td>{{.result.delay}}</td>
                <td>{{.result.maxDelay}}</td>
                <td>{{.result.diameter}}</td>
                <td>{{.result.diameterNet}}</td>
              </tr>
            </tbody>
          </table>
        {{end}}
    <form action="start" method="post">
        <div class="form-group">
            <label for="delay">Источник прерывания</label>
            <input type="text" class="form-control" name="from" placeholder="name:0" {{if .result.from}} value="{{.result.from}}" {{end}}>
        </div>
        <div class="form-group">
            <label for="delay">Обработчик прерывания</label>
            <input type="text" class="form-control" name="to" placeholder="name:1" {{if .result.to}} value="{{.result.to}}" {{end}}>
        </div>
        <button type="submit" class="btn btn-primary" name="add_path">Произвести расчеты</button>
    </form>
    <div class="btn btn-primary" id="save">Сохранить координаты</div>
    <script>
        const data = JSON.parse({{.data}});
    </script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/save.js"></script>
{{end}}