{{define "left"}}
  <form action="selectform" method="post">
    {{range $val := .nodes}}
        <div class="form-group">
            <label>Введите название узла {{$val}}</label>
            <input type="text" name="name{{$val}}" class="form-control" value="name{{$val}}" placeholder="name{{$val}}" required>
        </div>
    {{end}}
    <button type="submit" class="btn btn-primary" name="OK">Подтвердить</button>
  </form>
{{end}}

{{define "right"}}
{{end}}